@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Black.ttf") format("woff2");
  font-weight: 900;
}

* {
  padding: 0;
  margin: 0;
}

.imgContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.imgBox {
  height: 200px;
  margin: 10px;
}

.imgBox img {
  border-radius: 5px;
  width: auto;
  max-width: 360px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.imgBig {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.imgBig img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto; 
}

html {
  font-family: "Roboto";
}

body {
  background: #eee;
}

.header {
  background-color: #4660f7;
  color: #fff;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
