@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("woff2");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Black.ttf") format("woff2");
    font-weight: 900;
  }

.imgContainer {
 display: flex;
 flex-wrap: wrap;
}

.imgBox {
    height: 200px;
    margin: 10px;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

html {
    font-family: 'Roboto';
}

body {
    background: #eee;
  }

.header {
    background-color: #4660f7;
    color: #fff;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }