@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BlackItalic.ttf") format("woff2");
  font-weight: 900;
}

* {
  padding: 0;
  margin: 0;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.imgBox {
  height: 200px;
  margin: 10px;
  transition: transform 0.125s ease-in-out;
}

.imgBox:hover {
  transform: scale(1.1);
}

.imgBox img {
  border-radius: 5px;
  width: auto;
  max-width: 360px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.imgBig {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 997;
  position: fixed;
  top: 80px;
  width: 100vw;
  max-height: 90vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.bigImage {
  max-width: 90%;
  max-height: 90vh;
}

.arrow-left, .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow-left img, .arrow-right img {
  height: 40px;
  width: 40px;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.d-none {
  display: none;
}

html {
  font-family: "Roboto";
}

body {
  background: #eee;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4660f7;
  color: #fff;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}